@charset "utf-8";
body {
  color: #000;
  font: 14px/1.5 "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu!important;
  width: 100%;
  height: 100%;
  /*background-color: #f0f5f9;*/
  /*min-width: 1320px;*/
  overflow-y: auto;
  /*overflow-x: hidden;*/
  font-family: 'Microsoft Yahei';
}

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

input, button, textarea, select, optgroup, option {
  font-size: 12px;
  font-style: inherit;
  font-weight: inherit;
  font-family: '微软雅黑';
}

em, i {
  font-style: normal;
}

dl, dt, dd, h1, h2, h3, h4, h5, h6, p, ul, ol li, form {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

table.layout {
  table-layout: auto;
  word-wrap: break-word;
}

table, tr, td, th {
  table-layout: auto;
  word-break: break-all;
  word-wrap: break-word;
}

caption, th {
  text-align: left;
  font-weight: 100;
}

textarea {
  resize: vertical;
}

a {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  /*color: #ffffff;*/
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 0 none;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: block;
}

.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.loading_fa {
  position: relative;
}
.displayNone{
  display: none;
}
.f16{
  font-size:16px;
}
.f18{
  font-size:18px;
}
.w400{
  font-weight:400;
}
.c666{
  color:#666;
}

